﻿@model IEnumerable<TDL.Models.Event>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="content">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Done)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.OwnerID == UserManager.GetUserId(User))
                {
                    <tr @if (item.Done) { <text> class="done" </text>  } else { <text> class="undone" </text> }>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deadline)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Done)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.EventID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.EventID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.EventID">Delete</a>
                        </td>
                    </tr>

                }
            
            }
        </tbody>
    </table>
</div>