﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/images/to-do-list-apps.png");
    background-position:top;


}

section {
    margin:10px;
}

h1 {
    margin: 10px;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    border-radius: 20px;
}

.content {
    padding: 10px;
    margin: 200px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    border-radius: 20px;
}

.centered{
    margin:10px;
    
}
.floating {
    width: 100px;
    float: left
}

.done {
    background-color: green;
}

.undone {
    background-color: red;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
