﻿@{
    ViewData["Title"] = "About";
}
<div class="content">
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Welcome to My To Do List! This application provides simple management of all your events.</p>
</div>
