﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page - My TDL";
}
    <div class="content">
        <h1>Welcome to <em>My To Do List</em></h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="Events/Index">My Events</a>
        }
        else
        {
            <p>If you already have account</p>
            <a href="Identity/Account/Login">Log In</a>
            <p> If don't ,never mind</p>
            <a href="Identity/Account/Register">Register</a>
        }
    </div>

